@font-face {
    font-family: 'baiduzy';
    src: url('../fonts/baiduzy.ttf');
}
*{margin:0;padding:0;}
html,body{width:100%;height:100%;}
.hide{display:none;}
#main{
	width:100%;
	height:100%;
	background:-webkit-radial-gradient(50% 50%,#777,#333);
	position:relative;
}
#circle{
	width:600px;
	height:600px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-300px;
	margin-top:-300px;
	border-radius:300px;
	background-color:#222;
	box-shadow:inset 0 0 50px #000;
}

#circle header{
	margin-top:150px;
	text-align:center;
	font-family:Georgia,Verdana,Arial;
	font-size:80px;
	font-weight:bold;
	line-height:1.5em;
	color:#eee;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}

#circle article{
	color: #ccc;
	font-size: 14px;
	padding: 0 50px 0 60px;
	line-height: 1.5em;
}

#circle article p{
	margin-bottom:5px;
}

#circle footer{
	color: #bbb;
	text-align:center;
	margin-top:20px;
	font-size:12px;
}

#circle #layer{
	width:50%;
	height:100%;
	position:absolute;
	right:-100px;
	top:0;
} 

#circle #layer .icon{
	position:absolute;
	width:64px;
	height:64px;
	font-weight: bold;
	line-height: 1.5em;
	font-size:14px;
	font-family: Verdana,Arial;
}
#circle #layer .icon a{
	text-decoration: none;
	color:#aaa;
}
#circle #layer .icon a:hover{
	text-decoration: none;
	color:orange;
}
#circle #layer .iconlist{
	display:none;
	position:absolute;
	left:68px;
	top:10px;
	padding:10px;
	border-radius:5px;
	background:rgba(0,0,0,0.5);
	color:white;
}
#circle #layer .iconlist::before{
	content:"";
	display:block;
	position:absolute;
	left:-5px;
	top:12px;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	border-right:5px solid rgba(0,0,0,0.5);
}
#circle #layer .iconlist label{
	color:rgb(60,170,220);
}
#circle #layer .icon:hover>div{
	display:block;
}
#music{
	left:100px;
	bottom:0;
}
#circle #layer #music a.active{
	color:orange;
	text-decoration: underline;
}
#social{
	left:155px;
	bottom:64px;
}
#circle #layer #social .iconlist{
	top:5px;
}
#github{
	left:195px;
	bottom:137px;
}
#mail{
	left:213px;
	bottom:215px;
}
#blog{
	left:215px;
	bottom:295px;
}