@font-face {
    font-family: 'OpenSansLight';
    src: url('/fonts/OpenSansLight.ttf');
}

*{margin:0;padding:0;}
html,body{width:100%;height:100%;font-family:"OpenSansLight",Verdana,Arial;overflow:hidden;}
a, a:hover, a:active {text-decoration: none;}
.hide{display:none;}

#nav {
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding: 10px 20px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.1);
    display: none;
}

#nav dd {
    float: left;
    margin: 0 10px;
}

#nav dd a {
    color: #888;
}

#main{
	width:100%;
	height:100%;
	background:radial-gradient(50% 50%,#777,#333);
	background:-moz-radial-gradient(50% 50%,#777,#333);
	background:-webkit-radial-gradient(50% 50%,#777,#333);
	position:relative;
}
#circle{
	width:600px;
	height:600px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-300px;
	margin-top:-300px;
	border-radius:300px;
	background-color:#222;
	box-shadow:inset 0 0 50px #000;
}

#circle header{
	margin-top:180px;
	text-align:center;
	font-family:Georgia,Verdana,Arial;
	font-size:80px;
	font-weight:bold;
	line-height:1.5em;
	color:#eee;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}

#circle article{
	color: #ccc;
	font-size: 16px;
	padding: 0 60px;
	line-height: 2em;
	text-align: center;
}

#circle article p{
	margin-bottom:5px;
	text-justify: auto;
	text-align: justify;
}
#circle article p a{
	color: #ccc;
	text-decoration:none;
}

#circle footer{
	color: #bbb;
	text-align:center;
	margin-top:20px;
	font-size:12px;
}

#circle #layer{
	width:50%;
	height:100%;
	position:absolute;
	right:-100px;
	top:0;
	z-index: 2;
} 

#circle #layer .icon{
	position:absolute;
	width:64px;
	height:64px;
	font-weight: bold;
	line-height: 1.5em;
	font-size:14px;
	font-family: 'OpenSansLight';
	background-image: url('/images/index/icon.png');
	background-repeat: no-repeat;
}

#circle #layer .icon-blog{
    background-position: 0 0;
}

#circle #layer .icon-mail{
    background-position: -128px 0;
}

#circle #layer .icon-github{
    background-position: -64px 0;
}

#circle #layer .icon-music{
    background-position: -192px 0;
}

#circle #layer .icon-social{
    background-position: -256px 0;
}

#circle #layer .icon > a {
    width: 64px;
    height: 64px;
    display: block;
}

#circle #layer .icon a{
	text-decoration: none;
	color:#aaa;
}
#circle #layer .icon a:hover{
	text-decoration: none;
	color:orange;
}
#circle #layer .iconlist{
	display:none;
	position:absolute;
	left:68px;
	top:10px;
	padding:10px;
	border-radius:5px;
	background:rgba(0,0,0,0.5);
	color:white;
}
#circle #layer .iconlist::before{
	content:"";
	display:block;
	position:absolute;
	left:-5px;
	top:12px;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	border-right:5px solid rgba(0,0,0,0.5);
}
#circle #layer .iconlist label{
	color:rgb(60,170,220);
}
#circle #layer .icon:hover>div{
	display:block;
}
#music{
	left:100px;
	bottom:0;
}
#circle #layer #music a.active{
	color:orange;
	text-decoration: underline;
}
#social{
	left:155px;
	bottom:64px;
}
#circle #layer #social .iconlist{
	top:5px;
}
#github{
	left:195px;
	bottom:137px;
}
#mail{
	left:213px;
	bottom:215px;
}
#blog{
	left:215px;
	bottom:295px;
}

#weather{
	display: none;
	position: absolute;
	left: 20px;
	top: 40px;
	width: 50px;
	height: 50px;
	background-image: url('/images/index/weather.png');
	background-size: 200px;
}

.suncloudy {background-position: -150px 0;}
.suncloudynight {background-position: -100px -50px;}
.cloudy {background-position: -100px 0;}
.cloudynight {background-position: -50px -50px;}
.sun {background-position: 0 0;}
.sunnight {background-position: 0 -50px;}
.rain {background-position: -150px -50px;}
.snow {background-position: -50px -100px;}
.rainsnow {background-position: -150px -100px;}
.light {background-position: -100px -100px;}
.overcast {background-position: -50px 0;}
.ice {background-position: 0 -100px;}

#weatherDetail {
    padding: 0 10px;
    height: 50px;
    width: 200px;
    line-height: 17px;
    color: #888;
    font-size: 12px;
    position: absolute;
    left: 55px;
    top: 2px;
    display: block;
}

#eva {
    width: 72px;
    height: 72px;
    position: fixed;
    right: 10px;
    top: 50%;
    margin-top: -36px;
    background-image: url(/images/index/eva/eva.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 5;
}

#eva:hover {
    background-position: -144px 0;
}

#eva:hover > div {
    display: block;
}

#eva > div {
    width: 200px;
    padding: 10px;
    position: absolute;
    right: 72px;
    top: 5px;
    font-size: 12px;
    background: white;
    border-radius: 5px;
    line-height: 1.5em;
    display: none;
}

#eva > div:after {
    content: '';
    display: block;
    position: absolute;
    right: -5px;
    top: 25px;
    border-left: 5px solid white;;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

#question, #send {
    height: 20px;
    line-height: 20px;
    outline: none;
}

#question {
    width: 150px;
}

#send {
    width: 40px;
    border: none;
    border-radius: 3px;
    padding: 0 5px;
    background: red;
    color: white;
    cursor: pointer;
}

#rhythm {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100px;
}

#rhythm .column{
	position: absolute;
	bottom: -100px;
	width: 2px;
	height: 100px;
	background:linear-gradient(rgba(27,177,233,0.9), rgba(20, 124, 158, 0.9) 10%, rgba(17, 59, 88, 0.9) 20%, black);
	background:-moz-linear-gradient(rgba(27,177,233,0.9), rgba(20, 124, 158, 0.9) 10%, rgba(17, 59, 88, 0.9) 20%, black);
	background:-webkit-linear-gradient(rgba(27,177,233,0.9), rgba(20, 124, 158, 0.9) 10%, rgba(17, 59, 88, 0.9) 20%, black);
}

