*{margin:0;padding:0;font-family:Verdana;color:#ddd;}
body{background:#333;}
a,a:hover{text-decoration: none;}

#header{width:100%;padding:40px 40px;text-align: center;}
#header.title{font-size:40px;color: #fc0;}
#header.description{font-size:14px;}
#header.nav li{float:left;}
#header.nav li a{color:#fc0;padding:5px;border-radius:5px;}
#header.nav li a:hover{background: #222;box-shadow: inset 0 0 5px rgba(0,0,0,0.5),0 2px 0 rgba(255,255,255,0.5);}
#header.nav li.current a{background:#fc0;color:black;box-shadow: inset 0 0 5px rgba(0,0,0,0.5);}