<nav class="pagination" role="pagination">
    {% if site.previous_page %}
        {% if site.previous_page == 1 %}
            <a class="newer-posts" href="/" title="Previous Page">&laquo; Newer Posts</a>
        {% else %}
            <a class="newer-posts" href="/page{{ site.previous_page }}/" title="Previous Page">&laquo; Newer Posts</a>
      {% endif %}
    {% endif %}
    <span class="page-number"> Page {{site.page}} of {{site.total_pages}} </span>
    {% if site.next_page %} 
        <a class="older-posts" href="/page{{ site.next_page }}/" title="Next Page">Older Posts &raquo;</a>
    {% endif %} 
</nav>