body {
    font-size: 14px;
    font-family: '幼圆','OpenSansLight';
    background-repeat: none;
    background-size: 100%;
}

#main {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 600px;
    min-height: 290px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}

.form-group {
    position: relative;
}

.value {
    padding-right: 105px;
}

.query {
    position: absolute;
    right: 1px;
    top: 26px;
    width: 120px;
    border-top: none;
    border-right: none;
    border-bottom: none;
}
