@font-face {
    font-family: 'OpenSansLight';
    src: url('/fonts/OpenSansLight.ttf');
}

body {
    font-size: 14px;
    font-family: '幼圆','OpenSansLight';
	background-image: url('/images/tool/translate/bg.jpg');
    background-repeat: none;
    background-size: 100%;
}

#main {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 800px;
    min-height: 290px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}

.selectors, .resultPanel {
    margin-top: 10px;
}

.tab-content select {
    width: auto;
    display: inline-block;
}

.tab-content input {
    width: 200px;
    display: inline-block;
}

.resultPanel textarea {
    display: inline-block;
    width: 388px;
    font-size: 14px;
    resize: none;
}

.form-control {
    vertical-align: top;
}

.glyphicon-volume-up {
    margin-right: 10px;
    cursor: pointer;
}

.glyphicon-thumbs-up, .glyphicon-thumbs-down {
    margin-left: 10px;
    margin-right: 5px;
}
