<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{% if page.title %} {{ site.name }} - {{ page.title }} {% else %} {{ site.name }} {% endif %}</title>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="../webcomponentsjs/webcomponents-lite.js"></script>
        <link rel="import" href="../components/custom/header.html"/>
        <link rel="import" href="../components/custom/sider.html"/>
        <link rel="import" href="../components/custom/body.html"/>
        <link rel="import" href="../components/custom/footer.html"/>
    </head>
    <body>
        <homfen-header></homfen-header>
        <div style="width:960px;min-height:400px;position:relative;margin:0 auto;">
            <homfen-sider></homfen-sider>
            {{ content }}
        </div>
        <homfen-footer></homfen-footer>
    </body>
</html>